fastapi==0.109.0
googletrans==4.0.0rc1
minio==7.2.3
psycopg2-binary==2.9.9
pydantic==2.5.3
pydantic-settings==2.1.0
SQLAlchemy==2.0.25
beautifulsoup4==4.12.2
uvicorn~=0.22.0

# logging
structlog~=23.2.0
python-rapidjson
simplejson~=3.19.2
redis==5.0.1
loguru~=0.7.2
pytz~=2023.3
gspread~=5.11.3
parso~=0.8.3

